.container {
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 120px 1fr 120px;
  grid-template-columns: 120px 1fr;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
}
